body {
  margin: 0;
  padding: 0;
  font-family: Proxima Nova;
  background-color: #77A8BB;
}

.container {
  display: flex;
  min-height: 100vh;
}

.left {
  flex: 1;
  text-align: left;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header-img {
  width: 140px;
  height: 120px;
  margin-left: 40px;
}

.left h1 {
  font-family: 'Proxima Nova';
  font-size: 45px;
  margin-left: 20px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  color: #003366;
}

.left h2 {
  font-family: 'Proxima Nova';
  margin-left: 20px;
  margin-right: 5px;
  font-size: 25px;
  text-align: center;
  margin-top: 10;
  color: #003366;
}
.left h3 {
  font-family: 'Proxima Nova';
  margin-left: 0px;
  font-size: 25px;
  text-align: left;
  
}

.right {
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  background: #77A8BB;
  padding: 0;
  margin: 0;
}

.side-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  display: block;
  margin: 0;
  padding: 0;
  background: #f4f4f9;
}

.info-box {
  margin: 0px 150px 0 150px;
  padding: 20px;
  background: #FFC907;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.07);
  color: #003366;
  font-size: 18px;
  text-align: center;
}

.inner-box {
  font-family: 'Proxima Nova';
  margin-top: 8px;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-box:first-of-type {
  background-color: #FFF7E1;
  color: #1A1A1A;
  max-width: 200px;
  max-height: 20px;
  margin: auto;
  margin-bottom: 0px;
  margin-top: 40px;
  text-align: center;
}

.inner-box:last-of-type {
  background-color: #FFF7E1;
  color: #1A1A1A;
  font-weight: bold;
  max-width: 105px;
  max-height: 25px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  border: 2px solid #1A1A1A;
}

.inner-box:last-of-type:hover {
  background-color: #f9eebb;
  cursor: pointer;
}

.inner-box span {
  font-size: 20px;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}
